.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 40em;
}

.view-highscore:hover{
    color: blue;
    cursor: pointer;

}

.bar {
    display: flex;
    justify-content: space-between;

}

.timer {
    display: flex;
}

button {
    margin: 5px;
    background-color: darkblue;
    color: white;
}

.card-1 {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 40em;
    border: solid black 2px;
}

.card-2 {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 40em;
}

.card-3 {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 40em;
}

.card-4 {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 40em;
}

.card-5 {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 40em;
}

.card-6 {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 40em;
}

.card-7 {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 40em;
}

.card-8 {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 40em;
}

.card-9 {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 40em;
}

.card-10 {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 40em;
}

input {
    margin: 8px;
}

.card-highscores {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 40em;
}

.card-form {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 40em;
}

